{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"> <strong> <a href="{% url 'admin:index' %}">ONLINE QUIZ</a> </strong> </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
