<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Online Quiz</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}" >
  </head>
  <body>
    <div class="row">
        <div class="col-md-12">
          <div class="carousel slide" id ='myid' data-ride='carousel'>
      <ul class="carousel-indicators">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="vee.jpg" alt="img1" height='600' width='100%'/>
        </div>


         <div class="carousel-item">
          <img src="rvee.jpg" alt="img3" height='600' width='100%'/>
        </div>

        <div class="carousel-item">
          <img src="hut1.jpg" alt="img1" height='600' width='100%'/>
        </div>

        <div class="carousel-item">
          <img src="hut2.jpg" alt="img1" height='600' width='100%'/>
        </div>


        <a class="carousel-control-prev" href="#myid" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#myid" class='carousel-control-next' data-slide='next'>
          <i class="fas fa-forward"></i>
        </a>

        </div>

      </div>
    </div>
    </body>
</html>
