<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <title>ONLINE QUIZ</title>
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Styles -->
    <link rel='stylesheet' href="{% static "css/bootstrap.min.css" %}">
    <link rel='stylesheet' href="{% static "css/animate.min.css" %}">
    <link rel='stylesheet' href="{% static "css/font-awesome.min.css" %}">
    <link rel='stylesheet' href="{% static "css/style.css" %}"/>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Quiz</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <!-- Google Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'> -->
    <!-- Font Awesome -->
    <!-- <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'> -->
    <!-- Style -->
    <link href='{% static 'style.css'%}' rel='stylesheet' type='text/css'>
    <script src='{% static 'fa5/js/all.min.js'%}'></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style='font-family:arial;'><i class="fas fa-question mr-2" style='color:red; margin-right:10px;'></i>Online <span style='font-size:50px; color:red; font-family:arial;'>Q</span>uiz</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:8000/#quiz">Home</a></li>
            <li><a href="{% url "quiz:aboutdev"%}">Scoreboard</a></li>
            <li> <a href="http://127.0.0.1:8000/#about">About Us</a> </li>
            <li><a href="http://127.0.0.1:8000/#slider">Testimonials</a></li>
            <li><a href="http://127.0.0.1:8000/#gallery">Our Experts</a></li>
            <li> <a href="http://127.0.0.1:8000/#contact">Contact Us</a> </li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Scoreboard</h1>
          <table class='table my-5 table-hover'>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Correct Answers</th>
                <th>Wrong Answers</th>
                <th>Date</th>
              </tr>
            </thead>
            {% for i in board %}
            <tbody>
              <tr>
                <td> {{i.id}} </td>
                <td> {{i.Name}} </td>
                <td>{{ i.Right_Answers }}</td>
                <td>{{ i.Wrong_Answers }}</td>
                <td> {{ i.Date }} </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
        <!-- <div class="col-md-4 mx-auto my-5 ">
          <form class=""  method="post">
            {% csrf_token%}
            <div class="form-group">
              <input type="text" name="nm" value="" placeholder='Enter Name...' id='name' class='form-control'>
            </div>
            <div class="form-group">
              <input type="number" name="r" value="" placeholder='Right Answers' id='right' class='form-control'>
            </div>
            <div class="form-group">
              <input type="number" name="w" value="" placeholder='wrong answers' id='wrong' class='form-control'>
            </div>
            <div class="form-group">
              <input type="submit"  value="Submit" placeholder='Enter Name...' class='btn btn-info btn-block'>
            </div>
          </form>
        </div> -->
      </div>
    </div>
  </body>
</html>
