<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>


    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Styles -->
    <link rel='stylesheet' href="{% static "js/bootstrap.min.js" %}">

    <link rel='stylesheet' href="{% static "css/bootstrap.min.css" %}">
    <link rel='stylesheet' href="{% static "css/animate.min.css" %}">
    <link rel='stylesheet' href="{% static "css/font-awesome.min.css" %}">
    <link rel='stylesheet' href="{% static "css/style.css" %}"/>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Quiz</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <!-- Google Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'> -->
    <!-- Font Awesome -->
    <!-- <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'> -->
    <!-- Style -->
    <link href='{% static 'style.css'%}' rel='stylesheet' type='text/css'>
    <script src='{% static 'fa5/js/all.min.js'%}'></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </script>
  <style>
    body{
      transition:10s all;
    }
  </style>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style='font-family:arial;'><i class="fas fa-question mr-2" style='color:red; margin-right:10px;'></i>Online <span style='font-size:50px; color:red; font-family:arial;'>Q</span>uiz</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#quiz">Home</a></li>
            <li><a href="{% url "quiz:aboutdev"%}">Scoreboard</a></li>
            <li> <a href="#about">About Us</a> </li>
            <li><a href="#slider">Testimonials</a></li>
            <li><a href="#gallery">Our Experts</a></li>
            <li> <a href="#contact">Contact Us</a> </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#quiz">Online Quiz</a></li>
                <li><a href="#facts">Universal facts</a></li>
                <li> <a href="#brain">Brain Test</a> </li>

              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

  <!-- START SECTION -->
    <div class="section hero text-center background-dark dark-bg" id='quiz' style='padding-top:5%; padding-bottom:5%;'>
      <div class="background-image" style=" background: url('{% static 'images/background.jpg'%}');  opacity: .8; background-repeat:no-repeat center center; background-size: cover; background-attachment:fixed;"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Online quiz</h2>
            <p class="lead">Here You can start quiz test, test your skills!!!</p>
            <a href="{% url "quiz:question" %}" title="Learn More" class="btn btn-lg btn-primary">Start Quiz</a>

          </div>
        </div>
      </div>
    </div>
    <!--/.section -->

    <!-- START SECTION -->
    <div class="section " id='service'>
      <div class="container" >
        <div class="row" >
          <div class="col-md-12 text-center">
            <h2 class="section-title text-danger bg-secondary" style='font-family:Palatino;'>Our Services</h2>
            <p class="section-description text-mfo">Here are the services provide by us</p>
          </div>
          <div class="col-md-4 bg-danger" style='padding-top:2%;'>
            <div class="service-block text-center">
              <i class="fas fa-question text-danger"></i>
              <h3 style='font-family:Helvetica Narrow; font-size:25px;'>Online Quiz</h3>
              <p>Test your skills!!! Start a Quiz!!!</p>
              <a href="{% url "quiz:question"%}" title="quiz" class="btn btn-sm btn-primary">Start Quiz >> </a>
            </div><!--/.service-block-->
          </div>
          <div class="col-md-4 bg-info" style='padding-top:2%;' id='facts'>
            <div class="service-block text-center">
              <i class="fab fa-foursquare text-info"></i>
              <h3 style='font-family:Helvetica Narrow; font-size:25px;'>Universal Facts </h3>
              <p class='text-success'>Did you know???</p>
              <a href="{% url "quiz:facts"%}" title="Learn More" class="btn btn-sm btn-primary">Facts >> </a>
            </div><!--/.service-block-->
          </div>
          <div class="col-md-4 bg-warning" style='padding-top:2%;'>
            <div class="service-block text-center">
              <i class="fas fa-lightbulb" style='color:green'></i>
              <h3 style='font-family:Helvetica Narrow; font-size:25px;'>Brain Test  </h3>
              <p>Hey!! Let's test your IQ level.</p>
              <a href="#brain" title="Learn More" class="btn btn-sm btn-primary">Brain Test >></a>
            </div><!--/.service-block-->
          </div>
        </div>
      </div>
    </div>


    <!-- START SECTION -->
    <section id="slider"  style="background-image: url('{% static 'images/background2.jpg' %}');  background-attachment:fixed;" >
    <div class="wrapsection" style='padding:10%;'>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 ">
            <div id="Carousel" class="carousel slide bg-info text-danger" style='opacity:.9;'>
              <ol class="carousel-indicators">
                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                <li data-target="#Carousel" data-slide-to="1"></li>
                <li data-target="#Carousel" data-slide-to="2"></li>
                <li data-target="#Carousel" data-slide-to="3"></li>
                <li data-target="#Carousel" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <blockquote>
                    <p class=" text-danger">
                      Only i can change my life.  No one  can do it for me.
                    </p>
                    <small>-Carol Burnet</small>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <p class=" text-success">
                      Good, better, best. Never let it rest. 'Til your good is better and your better is best.
                    </p>
                    <small> -St. Jerome</small>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <p class=" text-warning">
                      Life is 10% what happens to you and 90% how you react to it.
                    </p>
                    <small>-Charles R. Swindoll</small>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <p class=" text-info">
                      Change your life today. Don't gamble on the future, act now, without delay.
                    </p>
                    <small>-Simone de Beauvoir</small>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote>
                    <p class=" text-secondary">
                      We should not give up and we should not allow the problem to defeat us.
                    </p>
                    <small>-A. P. J. Abdul Kalam</small>
                  </blockquote>
                </div>
              </div>
              <a class="left carousel-control" href="#Carousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#Carousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <!--/.section -->


    <!-- START SECTION -->
    <section id="gallery" class="parallax section" style="background-image: url('{% static 'images/mystery.jpg' %}'); padding-top:0px !important; padding-bottom:0px !important;" class='experts'>
    <div class="wrapsection">
    	<div class="parallax-overlay" style="background-color:#00c1c1;opacity:0.9;"></div>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12 sol-sm-12">
    				<div class="maintitle">
    					<h3 class="section-title">Our Experts</h3>
    					<p class="lead wow flipInX">
    						Have a look at our Experts.
    					</p>
    				</div>
    			</div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a href="{% static "images/t2.jpg" %}" title="Dr. Kristin Leifr">
                <img src="{% static "images/t2.jpg" %}" alt="Dr. Kristin Leifr" class="image-responsive" style="width:100% !important; height:300px !important;">
              <div class="description">
                <span class="caption"> Dr. <strong>Kristin Leifr</strong></span>
                <span class="camera"><i class="fa fa-camera"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static "images/t1.jpg" %}" title="Er. Alex Abram">
              <img src="{% static "images/t1.jpg" %}" alt="Er. Alex Abram" class="image-responsive" style="width:100% !important; height:300px !important; box-sizing:border-box;" >
              <div class="description">
                <span class="caption">Er. <strong>Alex Abram</strong></span>
                <span class="camera"><i class="fa fa-camera"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="{% static "images/t3.jpg" %}" title="Dr. Fara Agrawal">
              <img src="{% static "images/t3.jpg" %}" alt="Dr. Fara Agrawal" class="image-responsive" style="width:100% !important; height:300px !important;">
              <div class="description">
                <span class="caption">Dr. <strong>Fara Agrawal</strong></span>
                <span class="camera"><i class="fa fa-camera"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
        </div>
    	</div>
    </div>
    </section>

    <!-- START SECTION -->
    <div class="section hero text-center background-dark dark-bg" style='padding:5%;' id='brain'>
      <div class="background-image" style="background: url('{% static 'images/hero.jpg' %}') no-repeat fixed center center; background-size: cover; opacity: .2;"></div>
      <div class="container-fluid">
        <div class="row" >
          <div class="col-md-12 text-center ">
            <h2 class="section-title text-danger bg-success">Brain Test</h2>
            <p class="section-description">Let's test your brain skills!!!</p>
          </div>
        <div class="row">
          <div class="col-md-6" style='margin: 0 0 3% 0;'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kuCTNe1mrTo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-md-6" style='margin: 0 0 3% 0;'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0EsZgVEH6T8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-md-6" style='margin: 0 0 3% 0;'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EohgMR-i1I0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-md-6" style='margin: 0 0 3% 0;'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rQNrJAVxozk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!--/.section -->

    <!-- START SECTION -->
    <div class="section" id='contact' style="background:url('{% static 'images/map.png'%}'); background-attachment:fixed; padding-top:0px !important; padding-bottom:0px !important;">
      <div class="container-fluid" style="background:rgba(0,0,0,0.5);">
        <div class="row" >
          <div class="col-md-12 text-center" style="color:#fff;" >
            <h1>Contact Us</h1>
            <h2>Leave your anonymous feedback here</h2>
          </div>
          <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3399.0612552469265!2d74.98808781501603!3d31.577368051485134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391bd63f85203271%3A0x57ec6504e6d034f4!2sAmritsar+College+of+Engineering+and+Technology!5e0!3m2!1sen!2sin!4v1532008254756" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen>></iframe>
          </div>
          <div class="col-md-6 background-dark" style=' padding:6.9%; background:rgba(217, 237, 247,0.8)'>
            <form id="contact" method="post" class="form" role="form" onsubmit='fun()'>
              {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input class="form-control" id="name" name="name" placeholder="Name" pattern=".{3,}" title="Should be first and last name ex : John Deo" type="text" required />
              </div>
              <div class="col-md-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
              </div>
            </div>
            <textarea class="form-control" id="message" name="message" placeholder="Message" minlength="5" rows="5"></textarea>
            <br />
            <div class="row">
              <div class="col-md-12 form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>
          </div>
        </div>
        <!--/.row-->
      </div><!--/.container-->
    </div>
    <!--/.section -->

    <div class="container-fluid text-center" style='margin:0px;' id='about'>
      <div class="row">
        <div class="col-md-12" style="padding:3%; background:black; color:white;">
          <strong>Powered By :</strong> <br/> <i class="fa fa-user" style='padding-right:2px;'></i> Ritika Sharma<br/>
    			<span class='justify-content-center'>Copyright &copy; <a href="https://www.acetamritsar.ac.in/" style='color:white;'>Amritsar College of Engineering & Technology</a></span>

        </div>
    	</div>
    </div>

    <!--/.section -->

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
      function fun(){
        alert('Thanks for your feedback, Press OK to complete feedback!!!');
      }
    </script>
  </body>
</html>
