<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>ONLINE QUIZ</title>
    <script src="{% static "js/jquery.js" %}"></script>

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}" />
    <script src='{% static 'fa5/js/all.min.js'%}'></script>

    <script>
      $(document).ready(function(){
        //document.getElementById('name1').innerHTML = '<i class="fas fa-user mr-2"></i>';
        var x = prompt('Very nice attempt, Please tell me your Name!!!');
        $('#name112').html(" " + x);
        $('#n2').html(" " + x);
        var token1 = $("input[name='csrfmiddlewaretoken']").val();
        //alert(token1);
        var right = '{{ quiz.right }}';
        var wrong = '{{ quiz.wrong }}';

        if(x=='' || x==null){
          document.write('<h1> Name required!!!</h1>');
        }
        else{

          $.ajax({
             method: "POST",
             url: "http://127.0.0.1:8000/quiz/board/",
             data: { nm: x, r:right, w:wrong,csrfmiddlewaretoken:token1 },
             success: function(data){
               //alert('data');
             }
           });
        }
      });

    </script>
    <script>
      $(document).ready(function(){
        $('#button').click(function(){
          $('#scoreb').fadeToggle(2000);
        });
      });
    </script>

    <style>
.sq:hover{
  color:black;
}
  </style>
  </head>
  <body>
    {% csrf_token %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 px-0">
          <nav class='navbar bg-dark navbar-dark navbar-expand-sm'>
            <a href="{% url "index"%}" class='navbar-brand'>Online Quiz</a>
            <ul class='navbar-nav ml-auto'>
              <a href="{% url "quiz:question"%}" class='nav-link btn btn-outline-light mr-2'>
                <li class='nav-item sq '> << Start Again!!!</li>
              </a>
              <a href="{% url "index"%}" class='nav-link btn btn-outline-light mr-2'>
                <li class='nav-item sq '> <<< Home</li>
              </a>
              <a href="#details" class='nav-link btn btn-outline-light mr-2'>
                <li class='nav-item sq'> View Answer Description</li>
              </a>
              <a href="#scoreb" id='button' class='nav-link btn btn-outline-light mr-2'>
                <li class='nav-item sq'> View Previous scoreboard</li>
              </a>
              <a href="#" class='nav-link'>
                <li class='nav-item' ><span id='name112' name='res' class='nav-item'> </span></li>
                <!-- <form class="" name='myform' method="post">
                  {% csrf_token %}
                  {{ myform.as_p }}
                  <input type="text" id='na' name=

                  'na' value=""/>
                </form> -->

              </a>

            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row" style='background:rgba(255,0,0,0.1); background-attachment:fixed;'>
        <div class="container">
          <div class="row my-5">
            <div class="col-md-12">
              <h1 class="text-center alert-success my-5 pb-5" id='name' style='box-shadow:20px 10px 10px red;'>Hello<span id='n2'></span> here is your result</h1>
            </div>
            <div class="col-md-6 mx-auto mt-5 p-2 bg-light">
              <div class="bg-success py-5">
                <h1 class="text-center display-1">{{ quiz.right }}</h1>
              </div>
            </div>
            <div class='col-md-6 mx-auto mt-5 p-2 bg-light'>
              <div class="bg-danger py-5">
                <h1 class="text-center display-1">{{ quiz.wrong }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-5 " id='details' style='background:rgba(0, 255, 0,0.1); background-attachment:fixed; '>
      <div class="row">
        <div class="col-md-9 mx-auto bg-light p-5" style='border-radius:20px;'>
          <h1 class='text-warning text-center p-5 mb-5' style='background:rgba(125,50,125,0.1);  '>Here is Details of Answer</h1>

            {% for j in d1%}
              <dl class="list-group my-3 bg-dark p-5">

              <dd class='alert alert-light p-2 ' style='font-size:20px;color:{{j.status}};'><strong>Question:</strong>{{ j.question }}</dd>
              <dd class='alert alert-dark' style="color:{{j.status}};">a. {{ j.option1 }}</dd>
              <dd class='alert alert-dark' style="color:{{j.status}};">b. {{ j.option2 }}</dd>
              <dd class='alert alert-dark' style="color:{{j.status}};">c .{{ j.option3 }}</dd>
              <dd class='alert alert-dark' style="color:{{j.status}};">d .{{ j.option4 }}</dd>
              <dd class='alert alert-info' style="color:{{j.status}};"><strong>Your answer is : </strong>{{ j.useranswer }}</dd>
              <dd class='alert alert-info p-3' style="color:{{j.status}};"><strong>Description:</strong>{{ j.description }}</dd>
              <dd class='alert alert-info p-3' style="color:{{j.status}};"><strong>Correct Option:</strong> {{ j.answer }}</dd>
              </dl>
            {% endfor %}

            {% for i in d %}


              <!-- <dd class='alert alert-info p-2 ' style='font-size:20px'><strong>Question:</strong>{{ i.question }}</dd>
              <dd class='alert alert-dark'>a. {{ i.option1 }}</dd>
              <dd class='alert alert-dark'>b. {{ i.option2 }}</dd>
              <dd class='alert alert-dark'>c .{{ i.option3 }}</dd>
              <dd class='alert alert-dark'>d .{{ i.option4 }}</dd>
              <dd class='alert alert-success p-3'><strong>Description:</strong>{{ i.description }}</dd>
              <dd class='alert alert-success p-3'><strong>Correct Option:</strong> {{ i.answer }}</dd> -->
            {% endfor %}


        </div>
      </div>
    </div>
    {% if board %}
    <div class="container-fluid my-5" id='scoreb' style='display:none; border-radius:10px;'>
      <div class="row">
        <div class="col-md-12">
          <h1 class='py-5 my-3 text-center text-success'style='background:rgba(255,0,0,0.1)'>Here is previous Score Board</h1>
        </div>
        <div class="col-md-12">
          <table class='table my-5 table-hover'>
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Name</th>
                <th>Correct Answers</th>
                <th>Wrong Answers</th>
                <th>Date</th>
              </tr>
            </thead>
            {% for i in board %}
            <tbody>
              <tr>
                <td> {{i.id}} </td>
                <td> {{i.Name}} </td>
                <td>{{ i.Right_Answers }}</td>
                <td>{{ i.Wrong_Answers }}</td>
                <td> {{ i.Date }} </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="container-fluid text-center" style='margin:0px;' id='about'>
      <div class="row">
        <div class="col-md-12" style="padding:3%; background:black; color:white;">
          <strong>Powered By :</strong> <br/> <i class="fa fa-user" style='padding-right:2px;'></i> Ritika Sharma <br/>
          <span class='justify-content-center'>Copyright &copy; <a href="http://www.sachtechsolution.com/" style='color:white;'>Sachtech Solution Pvt. ltd.</a></span>

        </div>
      </div>
    </div>

  </body>
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"> -->
</html>
